#module-showcasegallery-gallery #left_column { display:none; }
#module-showcasegallery-gallery #center_column { width:757px; }

/* Add Album */
.add-Alb .text > label { width:100px; display: table-cell; }
.photo-lst { margin-bottom:5px; }
.photo-lst ul { list-style:none; }
.photo-lst li { border:1px solid #ccc; margin:3px; display:inline-block; }

/* My Gallery */
#My-gallery ul { list-style:none; }
.bar_present { padding:10px 0; overflow:hidden; }
.bar_present li { display:inline-block; background-color:#FFD; border:1px solid #e0e0e0; padding:5px; float:left; margin:2px; cursor:pointer;}
.bar_present li > img { display:block; }
.bar_present li > div { float:right; }
.bar_present li > p { width:100px; padding:0; }
#album_main {    border: 1px solid #CCCCCC;    float: left;    margin: 5px 0;    padding: 5px; }
#album_des { width:600px; padding:5px; }
#photo_list { float:right;}
#photo_list li { cursor:pointer; border:1px solid #ccc; margin:5px 0; }
#photo_list li:hover { opacity:0.8; }
#product_block li { border:1px solid #ccc; padding:5px; margin:5px 10px 5px 0; display:inline-block; }
#product_block li a:last-child { width:124px; float:left; }
#add-album .text input[type="text"] { height:10px; width:90%; border:1px solid #ccc; padding:5px;} 
#add-album .text textarea { resize:vertical; width:90%; min-height:50px; padding:5px; }